#cloud-config
coreos:
  etcd2:
    # https://discovery.etcd.io/new?size=1
    discovery: https://discovery.etcd.io/6d65e2f508e3d7f52c0fc979a5fa675d
    advertise-client-urls: http://$public_ipv4:2379
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380,http://$private_ipv4:7001
  flannel:
    interface: $public_ipv4
  units:
    - name: etcd2.service
      command: start
      drop-ins:
        - name: "timeout.conf"
          content: |
            [Service]
            TimeoutStartSec=90
    - name: flanneld.service
      drop-ins:
      - name: 50-network-config.conf
        content: |
          [Unit]
          Requires=etcd2.service
          After=etcd2.service       
          [Service]
          ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'
      command: start
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API
        [Socket]
        ListenStream=2375
        Service=docker.service
        BindIPv6Only=both
        [Install]
        WantedBy=sockets.target
    - name: runcmd.service
      command: start
      content: |
        [Unit]
        Description=Creates a tmp foo file
        [Service]
        Type=oneshot
        ExecStart=/bin/sh -c "echo '185.19.28.74 docker-ctlq.pictet.io' > /etc/hosts"       
        